In [28]:
import csv
import pandas as pd

In [29]:
input = '/content/drive/MyDrive/Inframind/Customer engagement/original_dataset/processed_dataset.csv'
df = pd.read_csv(input)
df.tail()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        match_id  inning  ... batting_average bowling_strike_rate
714709      1596       2  ...            20.3                41.6
714710      1596       2  ...            20.3                41.6
714711      1596       2  ...            8.44                41.6
714712      1596       2  ...            20.3                33.9
714713      1596       2  ...             NaN                 NaN

[5 rows x 29 columns]

# Feature Engineering:
Generate intermediate feature based on the innings.

required_run_rate :
Compute required run rate for the 2nd inning and assign 0 for the 1st inning.

In [30]:
# add column required_run_rate
target = 0
required_run_rate = []
for i in df.index:

    if (df['inning'][i] == 2):
      if (df['ball'][i] == 0.1):
        target = df['runs_so_far'][i-1]
        required_run_rate.append( (target - df['runs_so_far'][i]) / (50.00 - df['ball'][i]) )
      else:
        required_run_rate.append( (target - df['runs_so_far'][i]) / (50.00 - df['ball'][i]) )

    else:
      # inning 1
      required_run_rate.append(0)      

df['required_run_rate'] = required_run_rate

df.head()

   match_id  inning  ... bowling_strike_rate required_run_rate
0         1       1  ...                37.1               0.0
1         1       1  ...                37.1               0.0
2         1       1  ...                37.1               0.0
3         1       1  ...                37.1               0.0
4         1       1  ...                37.1               0.0

[5 rows x 30 columns]

# Data filtration:
Filter null or missing values and drop unnecessary features

In [31]:
df.drop(['match_id', 'batsman', 'bowler',
        'batsman_runs', 'wicket_next_6_balls','boundary_next_6_balls' , 'player_dismissed', 'boundary_next_12_balls','wicket_next_12_balls',
         'is_wicket'], axis = 1, inplace = True) 
df.head()

   inning batting_team  ... bowling_strike_rate  required_run_rate
0       1    Australia  ...                37.1                0.0
1       1    Australia  ...                37.1                0.0
2       1    Australia  ...                37.1                0.0
3       1    Australia  ...                37.1                0.0
4       1    Australia  ...                37.1                0.0

[5 rows x 20 columns]

In [32]:
# filter and clean bowling_average 
for i in df.index:
  if df['bowling_average'][i] == '-':
    df.at[i, 'bowling_average'] = 40.00

df["bowling_average"].fillna(40.00, inplace = True)

In [33]:
# filter and clean batting_average 
for i in df.index:
  if df['batting_average'][i] == '-':
    df.at[i, 'batting_average'] = 28.00

df["batting_average"].fillna(20.00, inplace = True)

In [34]:
# filter and clean bowling_strike_rate 
for i in df.index:
  if df['bowling_strike_rate'][i] == '-':
    df.at[i, 'bowling_strike_rate'] = 70.00

df["bowling_strike_rate"].fillna(70.00, inplace = True)

In [35]:
# filter and clean strike_rate 
for i in df.index:
  if df['strike_rate'][i] == '-':
    df.at[i, 'strike_rate'] = 60.00

df["strike_rate"].fillna(60.00, inplace = True)

## Encoding categorical features
One hot encode the "bowling_team" and "batting team" features

In [36]:
# one hot encoding of col "batting_team"

# Get one hot encoding of col "batting team"
one_hot = pd.get_dummies(df['bowling_team'], prefix='bowling_team')
# Drop that column as it is now encoded
df = df.drop('bowling_team',axis = 1)
# Join the encoded one with df
df = df.join(one_hot)

df.head()

   inning batting_team  ...  bowling_team_Sri Lanka  bowling_team_West Indies
0       1    Australia  ...                       0                         0
1       1    Australia  ...                       0                         0
2       1    Australia  ...                       0                         0
3       1    Australia  ...                       0                         0
4       1    Australia  ...                       0                         0

[5 rows x 29 columns]

In [37]:
# one hot encoding of col "batting_team"

# Get one hot encoding of col "batting team"
one_hot = pd.get_dummies(df['batting_team'], prefix='batting_team')
# Drop that column as it is now encoded
df = df.drop('batting_team',axis = 1)
# Join the encoded one with df
df = df.join(one_hot)

df.head()

   inning  ball  ...  batting_team_Sri Lanka  batting_team_West Indies
0       1   0.1  ...                       0                         0
1       1   0.2  ...                       0                         0
2       1   0.3  ...                       0                         0
3       1   0.4  ...                       0                         0
4       1   0.5  ...                       0                         0

[5 rows x 38 columns]

In [38]:
df['strike_rate'] = df['strike_rate'].astype(float)
df['bowling_average'] = df['bowling_average'].astype(float)
df['batting_average'] = df['batting_average'].astype(float)
df['bowling_strike_rate'] = df['bowling_strike_rate'].astype(float)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714714 entries, 0 to 714713
Data columns (total 38 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   inning                     714714 non-null  int64
 1   ball                       714714 non-null  float64
 2   wickets_so_far             714714 non-null  int64
 3   last_3_overs_runs          714714 non-null  int64
 4   last_6_balls_runs          714714 non-null  int64
 5   last_3_overs_wickets       714714 non-null  int64
 6   last_6_balls_wickets       714714 non-null  int64
 7   balls_in_partnership       714714 non-null  int64
 8   runs_so_far                714714 non-null  int64
 9   run_rate_last_5_overs      714714 non-null  float64
 10  balls_since_last_boundary  714714 non-null  int64
 11  boundary_this_over         714714 non-null  int64
 12  wicket_this_over           714714 non-null  int64
 13  strike_rate                714714 non-null  float64
 14  bowling_average            714714 non-null  float64
 15  batting_average            714714 non-null  float64
 16  bowling_strike_rate        714714 non-null  float64
 17  required_run_rate          714714 non-null  float64
 18  bowling_team_Afghanistan   714714 non-null  uint8
 19  bowling_team_Australia     714714 non-null  uint8
 20  bowling_team_Bangladesh    714714 non-null  uint8
 21  bowling_team_England       714714 non-null  uint8
 22  bowling_team_India         714714 non-null  uint8
 23  bowling_team_New Zealand   714714 non-null  uint8
 24  bowling_team_Pakistan      714714 non-null  uint8
 25  bowling_team_South Africa  714714 non-null  uint8
 26  bowling_team_Sri Lanka     714714 non-null  uint8
 27  bowling_team_West Indies   714714 non-null  uint8
 28  batting_team_Afghanistan   714714 non-null  uint8
 29  batting_team_Australia     714714 non-null  uint8
 30  batting_team_Bangladesh    714714 non-null  uint8
 31  batting_team_England       714714 non-null  uint8
 32  batting_team_India         714714 non-null  uint8
 33  batting_team_New Zealand   714714 non-null  uint8
 34  batting_team_Pakistan      714714 non-null  uint8
 35  batting_team_South Africa  714714 non-null  uint8
 36  batting_team_Sri Lanka     714714 non-null  uint8
 37  batting_team_West Indies   714714 non-null  uint8
dtypes: float64(7), int64(11), uint8(20)
memory usage: 111.8 MB

## Drop irrelevant features

In [40]:
df.drop(['bowling_team_Afghanistan', 'bowling_team_Australia',
       'bowling_team_Bangladesh', 'bowling_team_England', 'bowling_team_India',
       'bowling_team_New Zealand', 'bowling_team_Pakistan',
       'bowling_team_South Africa', 'bowling_team_Sri Lanka',
       'bowling_team_West Indies'], axis=1, inplace=True)

In [41]:
df.drop(['batting_team_Afghanistan', 'batting_team_Australia',
       'batting_team_Bangladesh', 'batting_team_England', 'batting_team_India',
       'batting_team_New Zealand', 'batting_team_Pakistan',
       'batting_team_South Africa', 'batting_team_Sri Lanka',
       'batting_team_West Indies'], axis=1, inplace=True)

In [42]:
# dropping more irrelvenat features
df.drop(['last_3_overs_runs', 'last_3_overs_wickets','last_6_balls_runs', 'last_6_balls_wickets'], axis=1, inplace=True)

## Generate the final predictive feature

In [43]:
# make a column for exciting moment
# if either wicket_this_over or boundary_this_ovre is true, exciting_moment is true


big_moment = []
for i in df.index:
    if (df['wicket_this_over'][i] == 1 or df['boundary_this_over'][i]==1):
      big_moment.append(1)
    else:
      big_moment.append(0)     

df['big_moment'] = big_moment

df.head()

   inning  ball  ...  required_run_rate  big_moment
0       1   0.1  ...                0.0           0
1       1   0.2  ...                0.0           0
2       1   0.3  ...                0.0           0
3       1   0.4  ...                0.0           0
4       1   0.5  ...                0.0           0

[5 rows x 15 columns]

## Divide and export based on innings

In [44]:
# divide inining 1 and inning 2 data
df1 = df[df['inning'] == 1]
df2 = df[df['inning'] == 2]

In [45]:
df1

        inning  ball  ...  required_run_rate  big_moment
0            1   0.1  ...                0.0           0
1            1   0.2  ...                0.0           0
2            1   0.3  ...                0.0           0
3            1   0.4  ...                0.0           0
4            1   0.5  ...                0.0           0
...        ...   ...  ...                ...         ...
714422       1  47.1  ...                0.0           1
714423       1  47.2  ...                0.0           1
714424       1  47.3  ...                0.0           1
714425       1  47.4  ...                0.0           1
714426       1  47.5  ...                0.0           1

[386056 rows x 15 columns]

In [46]:
df2

        inning  ball  ...  required_run_rate  big_moment
310          2   0.1  ...           5.130261           0
311          2   0.2  ...           5.140562           0
312          2   0.3  ...           5.150905           0
313          2   0.4  ...           5.161290           0
314          2   0.5  ...           5.151515           0
...        ...   ...  ...                ...         ...
714709       2  46.4  ...           0.555556           0
714710       2  46.5  ...           0.571429           0
714711       2  46.6  ...           0.294118           0
714712       2  47.1  ...           0.344828           1
714713       2  47.2  ...           0.357143           0

[328658 rows x 15 columns]

In [47]:
df1.to_csv('/content/drive/MyDrive/Inframind/Customer engagement/original_dataset/processed_dataset_inning_1.csv',index=False)

In [48]:
df2.to_csv('/content/drive/MyDrive/Inframind/Customer engagement/original_dataset/processed_dataset_inning_2.csv',index=False)